@font-face {
  font-family: "Lobster", cursive;
  src: url("../fonts/fonts/lobster-Regular.ttf") format("ttf");
}

* {
  margin: 5px;
}

body {
  background-color: #eee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  font-weight: normal;
  line-height: 1.4;
}

.app-header {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
  display: block;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
  align-items: center;
}

.app-logo {
  display: inline-block;
}

.app-navigation a {
  margin-right: 3px;
}

.app-navigation {
  margin-top: 2px;
  margin-left: 2em;
  float: right;
}

/* a:link, a:visited, a:active, a:hover */
.app-navigation a:link {
  text-decoration: none;
  color: #444;
  padding: 0.5 em;
}

.app-navigation a:hover {
  color: #444;
}

.app-navigation a:active {
  color: #444;
  border-bottom: rgb(25, 25, 106);
}

.app-navigation a:visited {
  color: #444;
}

nav a {
  text-decoration: none;
  color: #444;
}

.app-logo img {
  width: 160px;
}

.app-navigation-drawer {
  /*hide nav on load*/
  display: block;
  background-color: #fff;
  border: black solid 2px;
  border-radius: 5px 0 0 5px;
  width: 90%;
  height: 90%;

  /* animate: default state on page load */
  transition: all 300ms linear;
  transform: translatex(200%);
  position: absolute;
  left: 0;
  padding: 0px;
}

.app-navigation-drawer li {
  list-style: none;
  margin-left: 0;
  margin-top: 20px;
}

.sr-only {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  /*show nav*/
  display: block;
  transform: translatex(250px);
}

/* CSS comment */
@media screen and (min-width: 767px) {
  app-article {
    display: inline-block;
    border: brown 1px solid;
    width: 60%;
  }

  .app-sidebar {
    display: inline-block;
    border: springgreen 1px solid;
    width: 35%;
    vertical-align: top;
  }
}
.app-article {
  display: inline-block;
  border: brown 1px solid;
  width: 60%;
}

.app-sidebar {
  display: inline-block;
  border: springgreen 1px solid;
  width: 35%;
  vertical-align: top;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-family: "lobster";
  font-weight: 100;
}

p {
  font-family: "Open Sans", sans-serif;
}

main img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto o auto;
  display: block;
}

.color-red {
  color: red;
}

form label {
  display: block;
}

form fieldset {
  margin: 0;
  padding: 0%;
  border-radius: 6px;
}

.input-text {
  border: 1px solid #444;
  padding: 0.2em;
  color: #666;
  border-radius: 6px;
}

input[type="submit"] {
  background-color: coral;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  margin: 0;
}

input[type="submit"]:hover {
  background-color: rgb(5, 2, 1);
  border: none;
  color: white;
}

form h5 {
  margin-bottom: 0;
  padding-bottom: 0;
}
